@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap");

* {
  padding: 0;
  margin: 0;
  background-color: hsl(0, 0%, 94%);
  box-sizing: border-box;
}

.container {
  width: 600px;
  height: 460px;
  background-color: white;
  border-radius: 7% 7% 35% 7% / 7% 7% 35% 7%;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  padding: 40px;
}

.hr {
  margin-top: 15px;
  border-color: hsl(0, 0%, 94%);
}

.third-container {
  width: 370px;
  height: 90px;
  background-color: white;
  display: flex;
  flex-direction: row;
}

.input {
  background-color: white;
  width: 100px;
  height: 50px;
  border: 1px solid hsl(0, 0%, 86%);
  border-radius: 8px;
  font-size: 25px;
  padding: 15px;
}

.input-changed {
  border: 1px solid red;
  background-color: white;
  width: 100px;
  height: 50px;
  border-radius: 8px;
  font-size: 25px;
  padding: 15px;
}

.little-title {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background-color: white;
  color: #6b6b6b;
  font-size: 10px;
}

.data {
  background-color: white;
  margin-right: 20px;
}

input[type="text"]::-webkit-input-placeholder {
  color: #8a8a8a;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

input[type="text"]:-moz-placeholder {
  color: #8a8a8a;
  opacity: 1;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

input[type="text"]::-moz-placeholder {
  color: #8a8a8a;
  opacity: 1;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

input[type="text"]:-ms-input-placeholder {
  color: #8a8a8a;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

input[type="text"]::-ms-input-placeholder {
  color: #8a8a8a;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

input[type="text"]::placeholder {
  color: #8a8a8a;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.counter-container {
  display: flex;
  margin-top: 20px;
  background-color: white;
  flex-direction: column;
  width: 400px;
}

.years {
  background-color: white;
  font-size: 55px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.months {
  background-color: white;
  font-size: 55px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.days {
  background-color: white;
  font-size: 55px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.violet-text {
  color: #854cff;
  background-color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
}

.second-container {
  display: flex;
  flex-direction: row;
  background-color: white;
}

.bottone {
  width: 80%;
  border: none;
  background-color: #854cff;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  border-radius: 50px;
  cursor: pointer;
  color: white;
  font-size: 16px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.error {
  color: red;
  font-size: 9px;
  margin-top: 5px;
  background-color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

@media (max-width: 600px) {
  .container {
    width: 300px;
    height: auto;
    padding: 20px; /* Aumentiamo lo spazio interno */
  }

  .second-container {
    flex-direction: column; /* Posizioniamo gli input in una colonna singola */
    align-items: center; /* Centriamo gli elementi verticalmente */
  }

  .years {
    font-size: 40px; /* Riduciamo la dimensione del font per farlo entrare nel container */
  }

  .months{
    font-size: 40px;
  }

  .days{
    font-size: 40px; 
    border-radius: 100px;
  }

  .data {
    margin-right: 0; /* Rimuoviamo il margine tra gli input */
    margin-bottom: 20px; /* Aggiungiamo uno spazio tra gli input */
  }

  .bottone {
    width: 100%; /* Il bottone occupa tutta la larghezza disponibile */
    height: 40px; /* Aggiungiamo uno spazio sopra al bottone */
  }

  .counter-container{
    width: 250px;
    border-radius: 100px;
  }

  .third-container {
    width: 250px;
  }
  .input{
    width: 75px;
    height: 40px;
    font-size: 16px;
  }
  .input-changed{
    width: 75px;
    height: 40px;
    font-size: 16px;
  }
}
